// Colors

$black: #000000;
$darkBlue: #001b4a;
$darkBlue2: #00192b;
$mainWhite: #f1feff;
$lightBlue: #00cfff;
$error: #ff6161;

// Fonts

$Raleway: "Raleway", Helvetica, Arial, sans-serif;

// Screens

$mobileWidth: 815px;

// Mixins

@mixin centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin margin-auto {
  margin-left: auto;
  margin-right: auto;
}
