// Colors

$black: #00192B;
$darkBlue: #001b4a;
$mainWhite: #f1feff;
$lightBlue:  #00cfff;
$error: #FF6161;

// Fonts

$Raleway: "Raleway", Helvetica, Arial, sans-serif;

// Screens 

$mobileWidth: 815px;
