// Colors

$black: #000000;
$darkBlue: #001b4a;
$darkBlue2: #00192B;
$mainWhite: #f1feff;
$lightBlue:  #00cfff;
$error: #FF6161;

// Fonts

$Raleway: "Raleway", Helvetica, Arial, sans-serif;

// Screens 

$mobileWidth: 815px;
